*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins',sans-serif ;
  
}
/**************Header Section Style Start****************/

/*--importing  google fonts--*/
@import url('https://fonts.googleapis.com/css?family=Sen&display=swap');

.page-wrapper{
    height: 610px;
    width: 1360px;
}
.page-wrapper header{
    height: 60px;
    width: 1360px;
    background-color:#0a1e29;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}
.page-wrapper header li,a,button{
    font-family: 'Sen', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: whitesmoke;
    text-decoration: none;
    border: none;
    outline: none;
}
.page-wrapper header .logo-header a{
    font-size: x-large;
    cursor: pointer;
}

.page-wrapper .nav-container .navbar_links{
    list-style: none;
   
}
.page-wrapper header .navbar_links li{
    display:inline-block;
    padding: 0px 20px;
    
}
.page-wrapper header  .navbar_links li a{
    transition: all 0.3s ease 0s;
    font-weight: 500;
   
}
.page-wrapper header .navbar_links li a:hover{
    color: #00b0ff;
}

.page-wrapper header .contact-btn button{
     padding: 9px 25px;
     background-color: #00b0ff;
     border-radius: 50px;
     cursor: pointer;
     transition: all 0.3s ease 0s;
} 
.page-wrapper header .contact-btn button:hover{
    background-color:  #0089c9;
 
}

/***************HeaderSection Style End**************/

/***************Login Section style Start**************/
.loigin-section{
    margin-top: 10px;
}

.login_page_container{
    width: 1360px;
    height: 570px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 7rem;
    padding: 0 2rem;
    background-image: url("../driver_img/driver_login_page_img/img1.svg");
    background-size: cover;
}
.boy_with_car{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}

.login_form_container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}
.boy_with_car img{
    width: 500px;
    overflow: hidden;
}
form{
    width: 360px;
}
.profile_avatar_image{
    padding-top: 5px;
    height: 100px;
    overflow: hidden;
}
form h2{
    font-size: 2.9rem;
    text-transform: uppercase;
    margin: 15px 0;
    color: #333;
}
.input-container{
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
    width: 21.5rem;
}
.input-container.username{
    margin-top: 0;
}
.icon-tag{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-tag i{
    color: #d9d9d9;
    transition: .3s;
}
.input-container > div{
    position: relative;
    height: 45px;
}
.input-container > div h5{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 18px;
    transition: .3s;
}
.input-container:before,.input-container:after{
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #00b0ff;
    transition: .3s;
}
.input-container:before{
    right: 50%;
}
.input-container:after{
    left: 50%;
}
.input-container.focus:before,.input-container.focus:after{
    width: 50%;
}
.input-container.focus>div>h5{
    top: -5px;
    font-size: 15px;

}
.input-container.focus>.icon-tag>i{
    color:#00b0ff ;
}
.input-container>div>input{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #555;
    font-family: 'poppins',sans-serif;
}
.input-container.password{
    margin-bottom: 4px;
}

.forget_pass_link {
    display: block;
    font-weight: bold;
    text-align: right;
    text-decoration: none;
    color: #999;
    font-size: 0.9rem;
    transition: .3s;
}
.register_account_link {
    padding-top: 10px;
    margin-bottom: 20px;
    display: block;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #999;
    font-size: 1.0rem;
    transition: .3s;
}
a:hover{
    color: #00b0ff;
}
.login_btn{
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    margin: 1rem 0;
    font-size: 1.2rem;
    outline: none;
    border: none;
    background-image: linear-gradient(to right,#00b0ff,#40c0fc,#00b0ff);
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    font-family: 'poppins',sans-serif;
    background-size: 200%;
    transition: .5s;
}
.login_btn:hover{
    background-position: right;
}

/***************Login Section Style End**************/
/***************Footer Section Style Start**************/
/*.page-wrapper footer{
    height: 70px;
    width: 1350px;
    background-color:#0a1e29;
    padding: 20px 10%;
} */



/*--------Alert Box Design---------------*
  /* The alert message box */
  .alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  } 