@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');
*{
    margin: 0;
    list-style: none;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;;
    
}
body{
    background: #e1ecf2;
}
.wrapper{
    margin: 10px;
}
.wrapper .top_navbar{
    width: calc(100% - 20px);
    height: 60px;
    display: flex;
    position: fixed;
    top: 10px;
    
}
.wrapper .top_navbar .hamburger{
    width: 70px;
    height: 100%;
    background: #2e4ead;
    padding: 15px 17px;
    border-top-left-radius: 20px;
    cursor: pointer;
}
.wrapper .top_navbar .hamburger .side-menu-div{
    width: 35px;
    height: 4px;
    background: #92a6e2;
    margin: 5px 0;
    border-radius: 5px;
}
.wrapper .top_navbar .top_menu{
    width: calc(100% - 70px);
    background: #fff;
    height: 100%;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.wrapper .top_navbar .top_menu .logo{
    color: #2e4ead;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    
}
.wrapper .top_navbar .top_menu ul{
    display: flex;
}
.wrapper .top_navbar .top_menu ul li a{
    display: block;
    font-weight: 520;
    margin: 0 10px;
    width: 60px;
    height: 30px;
    text-align: center;
    border:  1px  1px solid #2e4ead;
    align-items: center;
    border-radius: 10%;
    text-decoration: none;
    transition: .1s;
    
}
.wrapper .top_navbar .top_menu ul li a:hover{
    background: #4360b5;
    color: #fff;
}

.wrapper .sidebar{
    position: fixed;
    top: 70px;
    left: 10px;
    background: #2e4ead;
    width: 200px;
    height: calc(100% - 80px);
    border-bottom-left-radius: 20px;
    transition: all 0.3s ease;
  }
  .wrapper .sidebar ul li a{
      display: block;
      padding: 20px;
      position: relative;
      margin-bottom: 1px;
      color: #92a6e2;
      white-space: nowrap;/*for smooth sidebar collapsing*/
  }
  .wrapper .sidebar ul li a:before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 3px;
      height: 100%;
      background: #92a6e2;
      display: none;

  }
.wrapper .sidebar ul li a span.icon{
    display: inline-block;
    margin-right: 10px;

}
.wrapper .sidebar ul li a span.title{
    display: inline-block;
}
.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
    background: #4360b5;
    color: #fff;
}
.wrapper .sidebar ul li a:hover:before
.wrapper .sidebar ul li a.active:hover:before{
    display: block;
}

.wrapper .main_container{
    width: calc(100% - 200px);
    margin-top: 70px;
    margin-left: 200px;
    padding: 15px;
    transition: all 0.3s ease;
}
.wrapper .buttons button{
    padding: 7px 13px;
    background-color: #2e4ead;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    outline: none;
    color: white;
    font-weight: 350;

    
  }
  .wrapper .buttons button:hover{
    background-color: #4360b5
  }
/*--------Main Page Container-------*/
.wrapper .main_container .item{
    background: #fff;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 14px;
    line-height: 22px;
}
/*------------Colapsing Hamburger Menu+SideBar---------*/
.wrapper.collapse .sidebar{
    width: 70px;
}
.wrapper.collapse .sidebar ul li a{
    text-align: center;
}
.wrapper.collapse .sidebar ul li a span.icon{
    margin: 0;
}
.wrapper.collapse .sidebar ul li a span.title{
    display: none;
  }
.wrapper.collapse .main_container{
   width: calc(100% - 70px); 
   margin-left: 70px;
} 
